@import url('https://fonts.googleapis.com/css?family=Ubuntu');

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}


/* General CSS */
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background-color: navy;
    overflow-wrap: break-word;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

h1 {
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

button:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

/* #header #title {
    margin: auto;
    float: center;
    color: white;
} */

#body {
    display: none;
}

.redbtn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
}

/* End General CSS */

/* Title Screen */

/* Reference: https://www.w3schools.com/howto/howto_css_overlay.asp */
#intro {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
}

.story {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    color: white;
    text-align: center;
    margin: 20% auto;
    /* cursor: pointer; Add a pointer on hover */
}

.story p {
    padding: 0% 10%;
    font-size: 18px;
}

#storyBG {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* Black background with opacity */
    /* cursor: pointer; Add a pointer on hover */
}

#titleScreen-content {
    color: white;
    text-align: center;
    /* Centered text/links */
    /* margin-top: 30px;  30px top margin to avoid conflict with the close button on smaller screens */
    display: none;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    top: 37%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 48px;
}

#titleScreen-content #playButton {
    display: none;
}

#intro #titleSubtitle {
    font-size: 18px;
    color: white;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    bottom: 0;
}

/* End Title Screen */

/* Main Menu */

#mainMenu {
    top: 0;
    padding: 30px;
    /* position: fixed; */
}

#mainMenu h1 {
    color: white;
    margin: 0px;
}

#menu-gold-text {
    color: white;
    margin: 20px;
    text-align: center;
    font-weight: normal;
}

#mainMenu button {
    font-size: 18px;
    padding: 10px 15px;
}

#mainMenu #item {
    width: 45%;
    float: left;
    text-align: center;
    margin: 2.5%;
    margin-top: 0px;
    background-color: red;
}

#mainMenu #item img {
    max-width: 40%;
}

/* End Main Menu */

/* Sticky Topbar */
#navbar {
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
    right: 0px;
    left: 0px;
    color: #ffffff;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: navy;
    top: 0;
    position: fixed;
}

button.small {
    font-size: 18px;
}

/* End Sticky Topbar */

/* Value Bar */

#debt {
    margin: 0px;
    text-align: center;
    width: 33%;
    float: left;
    padding: 0px;
}

#debt p {
    margin-top: 15px;
    font-size: 18px;
}

#happyz {
    margin: 0px;
    text-align: center;
    width: 33%;
    float: left;
    padding: 0px;
}

#happyz p {
    margin-top: 15px;
    font-size: 18px;
}

#moneyz {
    margin: 0px;
    text-align: center;
    width: 34%;
    float: left;
}

#moneyz p {
    margin-top: 15px;
    font-size: 18px;
}

/* End Value Bar */

/* Top Button Array */

#earnLeft {
    float: left;
    margin: 0;
    width: 33%;
    text-align: center;
}

#earnCenter {
    float: left;
    margin: 0;
    width: 34%;
    text-align: center;
}

#earnRight {
    float: left;
    margin: 0;
    width: 33%;
    text-align: center;
}

/* #earn button.sticky {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
} */

#earn button:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

/* button.navbarButtons {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}
*/

/* End Top Button Array */

/* Bank */

#bankPanel {
    display: none;
    background-color: red;
    margin-top: 150px;
    overflow: auto;
    text-align: center;
}

#bankPanel p {
    margin-top: 20px;
    padding: 20px;
}

#bankPanel form {
    font-size: 24px;
    padding: 30px;
}

#bankPanel #borrowForm {
    display: none;
}

#bankPanel #repayForm {
    display: none;
}

#bankPanel input[type=number] {
    width: 50%;
    font-size: 20px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /* border: 3px solid navy; */
}

/*
#bankPanel input[type=number]:focus {
    border: 3px solid rgb(0, 160, 255);
} 
*/

#bankPanel input[type=number] {
    -moz-appearance: textfield;
}

#bankPanel input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#bankPanel input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#bankPanel input[type=submit] {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

#bankPanel input[type=submit]:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#bankPanel .submitButton {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

#bankPanel .subtitle {
    font-size: 16px;
}

#bankPanel .submitButton:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#borrowButton {
    margin: 0;
    margin-bottom: 20px;
    width: 40%;
    float: left;
    text-align: center;
}

#repayButton {
    margin: 0;
    margin-bottom: 20px;
    width: 40%;
    float: left;
    text-align: center;
}

#bankLogo {
    width: 20%;
    overflow: auto;
    text-align: center;
    float: left;
}

#bankLogo img {
    max-width: 90%;
    overflow: auto;
}

/* End Bank */

/* Menu */

#menuFeatures {
    display: none;
    text-align: center;
    margin-top: 150px;
    overflow-y: auto;
    padding: 20px;
    background-color: red;
}

#menuFeatures button {
    margin: 0px 10px;
}

/* End Menu */

/* Game */

#content {
    background-color: lime;
    margin-top: 175px;
    overflow: auto;
}

#flavourtown {
    display: none;
}

#meme {
    display: none;
    background-color: fuchsia;
    overflow: auto;
}

#meme #item {
    background-color: lime;
}

#item {
    width: 45%;
    float: left;
    text-align: center;
    margin: 2.5%;
    background-color: red;
    /* margin-top: 0px; */
}

#house {
    width: 45%;
    text-align: center;
    margin: auto;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 5px;
}

#house img {
    max-width: 40%;
}

.item-content {
    display: none;
    animation: fadeIn .5s ease-in 1 forwards;
}

.unlock {
    display: block;
    animation: fadeOut .5s ease-in 1 forwards;
}

#item img {
    max-width: 40%;
}

.unlock img {
    max-width: 40%;
}

/* End Game */

/* Footer */

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    display: table;
    width: 100%;
    background-color: navy;
    margin: 0;
    bottom: 0;
}

#footer.main {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    display: table;
    width: 50%;
    background-color: navy;
    margin: 0;
    bottom: 0;
}

#footerButtons {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    display: table;
    width: 25%;
    background-color: navy;
    margin: 0;
    bottom: 0;
}

#muteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
}

#footer #muteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
}

#footer #muteButton:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#footer #ready {
    background-color: green;
    font-size: 18px;
    margin-top: 15px;
}

#footer h2 {
    font-weight: normal;
}

#footer h3 {
    font-weight: normal;
}

#footer h4 {
    font-weight: normal;
}

/* End Footer */

/* Test Features */

#alert {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: black;
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#alert #alertbg {
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    /* z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: black;
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.alert {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 35%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    background-color: white;
    padding: 0px;
    display: none;
    z-index: 1;
    overflow: hidden;
}

#devPanel img {
    margin: 1%;
}

#alert h1 {
    font-size: 48px;
    padding: 20px;
    margin: 0px;
    background-color: red;
    color: white;
    font-weight: normal;
}

#alert p {
    font-size: 20px;
    padding: 20px;
}

#alert button {
    background-color: red;
    font-size: 24px;
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
}

#alert input[type=submit] {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

#alert input[type=submit]:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#alert input[type=text] {
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-bottom: 0px;
}

#alert input[type=password] {
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-bottom: 0px;
}

#alert form {
    margin: 20px 10px 10px 10px;
    font-size: 24px;
}

#alert #secret button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

#flavourtown-housing {
    text-align: center;
    display: none;
    overflow: auto;
}

.housing {
    display: none;
}

.memehousing {
    background-color: lime;
}

#meme-house {
    background-color: lime;
}

#meme-house {
    width: 45%;
    text-align: center;
    margin: auto;
    background-color: lime;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 5px;
}

#meme-house img {
    max-width: 40%;
}

/* End Test Features */

/* Credits Pane */

#credits {
    display: none;
    background-color: black;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    overflow: auto;
}

#credits p {
    font-size: 20px;
}

#credits a {
    text-decoration: none;
    font-weight: bold;
}

/* End Credits Pane */

@media only screen and (max-width: 725px) {
    button {
        font-size: 18px;
    }

    #footer #muteButton {
        font-size: 18px;
    }
}

@media only screen and (max-width: 590px) {
    button {
        font-size: 18px;
        padding: 10px 15px;
    }

    #happyz p {
        margin-top: 15px;
        font-size: 14px;
    }


    #debt p {
        margin-top: 15px;
        font-size: 14px;
    }

    #moneyz p {
        margin-top: 15px;
        font-size: 14px;
    }

    #footer #muteButton {
        font-size: 18px;
    }

    .alert {
        position: relative;
        top: 25%;
        /* 25% from the top */
        width: 40%;
        text-align: center;
        /* Centered text/links */
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
        background-color: white;
        padding: 0px;
        display: none;
        z-index: 1;
        overflow: hidden;
    }
}

@media only screen and (max-width: 420px) {
    button {
        font-size: 18px;
        padding: 10px 15px;
    }

    #happyz p {
        margin-top: 15px;
        font-size: 12px;
    }


    #debt p {
        margin-top: 15px;
        font-size: 12px;
    }

    #moneyz p {
        margin-top: 15px;
        font-size: 12px;
    }

    #footer #muteButton {
        font-size: 18px;
    }

    .alert {
        position: relative;
        top: 25%;
        /* 25% from the top */
        width: 50%;
        text-align: center;
        /* Centered text/links */
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
        background-color: white;
        padding: 0px;
        display: none;
        z-index: 1;
        overflow: hidden;
    }
}

@media only screen and (max-width: 360px) {
    button {
        font-size: 14px;
        padding: 10px 15px;
    }

    #happyz p {
        margin-top: 15px;
        font-size: 9px;
    }


    #debt p {
        margin-top: 15px;
        font-size: 9px;
    }

    #moneyz p {
        margin-top: 15px;
        font-size: 9px;
    }

    #footer #muteButton {
        font-size: 14px;
    }

    .alert {
        position: relative;
        top: 25%;
        /* 25% from the top */
        width: 60%;
        text-align: center;
        /* Centered text/links */
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
        background-color: white;
        padding: 0px;
        display: none;
        z-index: 1;
        overflow: hidden;
    }
}

@media only screen and (max-height: 525px) {
    #titleScreen-content {
        font-size: 24px;
        top: 30%;
    }

    #titleScreen-content h1 {
        margin-bottom: 10px;
    }

    #intro #titleSubtitle {
        font-size: 12px;
    }

    #playButton {
        font-size: 18px;
        padding: 10px 15px;
    }

    #titleSubtitle #muteButton {
        font-size: 14px;
        padding: 10px 15px;
    }

    .alert {
        position: relative;
        top: 10%;
        text-align: center;
        /* Centered text/links */
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
        background-color: white;
        padding: 0px;
        display: none;
        z-index: 1;
        overflow: hidden;
    }
}

@media only screen and (max-height: 300px) {
    #titleScreen-content {
        font-size: 16px;
        top: 20%;
    }

    #titleScreen-content h1 {
        margin-bottom: 0px;
    }

    #intro #titleSubtitle {
        font-size: 10px;
    }

    #playButton {
        font-size: 14px;
        padding: 5px 10px;
    }

    #titleSubtitle #muteButton {
        font-size: 12px;
        padding: 5px 10px;
    }

    .alert {
        position: relative;
        top: 10%;
        text-align: center;
        /* Centered text/links */
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
        background-color: white;
        padding: 0px;
        display: none;
        z-index: 1;
        overflow: hidden;
    }
}