@-ms-viewport{
    width: device-width;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

h1 {
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}
    
button:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#header #title {
    margin: auto;
    float: center;
}

#game {
    display: block;
}

/* Sticky Topbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    padding-bottom: 10px;
    width: 100%;
    right: 0px;
    left: 0px;
    color: #ffffff;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
}

/* Page content */
.content {
  padding: 16px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 200px;
}

#happyz {
    margin: 0px;
    text-align: center;
    width: 49%;
    float: right;
    padding: 0px;
}

#happyz p {
    margin-top: 15px;
    font-size: 24px;
}

#moneyz {
    margin: 0px;
    text-align: center;
    width: 49%;
    float: left;
}

#earn {
    text-align: center;
}

#earn button {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}

#earn button.sticky {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
    margin-bottom: 15px;
    margin-top: 15px;
}
    
#earn button:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#moneyz p {
    margin-top: 15px;
    font-size: 24px;
}

#item {
    width: 45%;
    float: left;
    text-align: center;
    margin: 2.5%;
    background-color: rgb(200, 20, 20);
}

#item img {
    max-width: 40%;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: center;
    display: table;
    width: 100%;
}

#footer #muteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 5px 2px #999;
}

#footer #muteButton:ACTIVE {
    box-shadow: 1px 3px 2px #999;
    transform: translateY(2px);
}

#footer #ready {
    background-color: green;
    font-size: 18px;
    margin-top: 15px;
}

#footer h2 {
    font-weight: normal;
}

#footer h3 {
    font-weight: normal;
}

#footer h4 {
    font-weight: normal;
}